{% extends 'header-basic.html' %}
{% block content%}
    <style>
        figure{
            margin-top: 40px;
            padding: 0px;

        }
        .borda{
            border: solid 2px gray;
            width: 100%;
            border-radius: 15px;
            
            
        }
        h3{
            font-family: 'Metamorphous', cursive;
            font-size: 30px;
            color: white;
            text-align: center;
            text-shadow: black;
            padding: 10px 10px;
            margin-top: 10px;
        }
        .cont{
            position: relative;
            
            
        }
        .img{
            display: block;
            width: 100%;
            height: auto;
            border: solid 5px black;
            
        }
        .overlay{
            position: absolute;
            bottom: 0;
            left: 0;
            right: 0;
            background-color: black;
            overflow: hidden;
            width: 100%;
            height: 0;
            transition: .5s ease;
        }
        .cont:hover .overlay{
            height: 100%;
            border-radius: 15px;
            
        }
        .text{
            color: white;
            font-size: 20px;
            font-family: 'Metamorphous', cursive;
            position: absolute;
            top: 50%;
            left: 50%;
            -webkit-transform: translate(-50%, -50%);
            -ms-transform: translate(-50%, -50%);
            transform: translate(-50%, -50%);
            text-align: center;
        }
       
    </style>
    <div class="container borda">
        <h3>Todos os veiculos que imagina esta aqui.</h3>
        <hr style="height: 5px;">
        <div class="row row-cols-3">
            
            {% for car in veiculos %}
                <div class="col cont ">
                    <figure class="figure ">
                        <img src="{{ car.Imagem.url }}" style="width: 100%;" class="figure-img omg-fluid rounded " alt="{{ car.Nome }}">
                    </figure>
                    <div class="overlay">
                        <div class="text">
                            <a href="{% url 'Detalhes' car.id %}" style="font-size: 25px;">
                                <p>{{car.Nome}}</p>
                                <p>{{car.Marca}}</p>
                                <p>R$: {{car.Preco}}</p>
                            </a>    
                        </div>
                    </div>
                </div>    
            {% endfor %}
        </div>
    </div>        
{% endblock%}